PORT
MONGODB_USER
MONGODB_URI
MONGODB_DB
MONGODB_PASSWORD

# MongoDB
DATABASE_URL

# Passport
PASSPORT_SECRET

# Frontend link
APP_DOMAIN

# SMTP for Brevo
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASSWORD
SMTP_FROM

# Passport
PASSPORT_SECRET

# JWT
JWT_SECRET_KEY

# Cloudinary
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_SECRET_KEY
